---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grocy
  namespace: grocy
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: rook-cephfs
  resources:
    requests:
      storage: 2Gi
