---
apiVersion: mysql.oracle.com/v2
kind: InnoDBCluster
metadata:
  name: dndwiki-db
  namespace: dndwiki
spec:
  secretName: dndwiki
  instances: 3
  router:
    instances: 2
    podSpec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                - key: kubernetes.io/arch
                  operator: In
                  values:
                    - amd64
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchLabels:
                  app.kubernetes.io/name: mysql-router
                  app.kubernetes.io/instance: mysql-innodbcluster-dndwiki-db-router
              topologyKey: kubernetes.io/hostname
              namespaces: ["dndwiki"]
  tlsUseSelfSigned: true
  datadirVolumeClaimTemplate:
    accessModes: [ "ReadWriteOnce" ]
    storageClassName: rook-cephfs
    resources:
      requests:
        storage: 3Gi
  podSpec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/arch
                operator: In
                values:
                  - amd64
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchLabels:
                app.kubernetes.io/name: mysql-innodbcluster-mysql-server
                app.kubernetes.io/instance: mysql-innodbcluster-dndwiki-mysql-server
            topologyKey: kubernetes.io/hostname
            namespaces: ["dndwiki"]
          - labelSelector:
              matchLabels:
                app.kubernetes.io/instance: mysql-innodbcluster-dndwiki-db-mysql-server
            topologyKey: kubernetes.io/hostname
