---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: storage-uploads
  namespace: dndwiki
spec:
  storageClassName: rook-cephfs
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: uploads
  namespace: dndwiki
spec:
  storageClassName: rook-cephfs
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
