---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  annotations:
    kustomize.toolkit.fluxcd.io/force: enabled
  name: mysql-operator
  namespace: mysql-operator
spec:
  chart:
    spec:
      chart: mysql-operator
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: mysql-operator
      version: '2.2.6'
  install:
    crds: Create
    remediation:
      retries: 3
  interval: 24h
  timeout: 10m
  values:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/arch
                operator: In
                values:
                  - amd64 
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchLabels:
                name: mysql-operator
            topologyKey: kubernetes.io/hostname
    envs:
      k8sClusterDomain: cluster.local
    replicas: 2
